{% extends "base.html" %}


{% block content %}

<div class ="container-md py-3 px-4 w-80 p-3 shadow border  border-2 border rounded-3 w-80 mx-auto">
    <section class="my-5">
  <div class="text-center mb-4">
    <h1 class="fw-bold">ჩვენს შესახებ</h1>
    <p class="text-muted col-md-8 mx-auto">
      „მგოსანი“ არის სივრცე, სადაც ქართული ლიტერატურა,
      ისტორია და ხელოვნება ერთიანდება.
      ჩვენი მიზანია ქართველი მწერლების უკვდავი მემკვიდრეობის
      გაცოცხლება ხელოვნების თანამედროვე ფორმებით.
    </p>
  </div>

  <div class="row text-center">
    <div class="col-md-4 mb-3">
      <h5 class="fw-semibold">ხელნაკეთი სკულპტურები</h5>
      <p class="text-muted">
        თითოეული სკულპტურა დამზადებულია დეტალებზე
        განსაკუთრებული ყურადღებით და მაღალი ხარისხის მასალებით.
      </p>
    </div>

    <div class="col-md-4 mb-3">
      <h5 class="fw-semibold">კულტურული ღირებულება</h5>
      <p class="text-muted">
        ჩვენი ნამუშევრები ასახავს ქართველი მწერლების
        სულიერ ძალას, იდეალებსა და ისტორიულ მნიშვნელობას.
      </p>
    </div>

    <div class="col-md-4 mb-3">
      <h5 class="fw-semibold">იდეალური საჩუქარი</h5>
      <p class="text-muted">
        შესაფერისია როგორც ინტერიერისთვის,
        ასევე განათლებისა და პატრიოტული აღზრდისთვის.
      </p>
    </div>
  </div>
</section>
</div>


<hr class="my-4">


<div class="container-md py-3 px-4 shadow border  border-2 border rounded-3 w-80 mx-auto">
    <div class="container-md py-3 px-4 shadow border border-2 rounded-3 w-80 mx-auto">
    <h2 class="mb-3">რატომ არის მწერლის სკულპტურის ქონა კარგი?</h2>
    <p>
        მწერლის სკულპტურა სახლში ან ოფისში ნიშნავს სილამაზეს, ინტელექტს და კულტურულ საგანძურს.
        ეს არა მხოლოდ დეკორატიული ნივთია, არამედ ინსპირაციასაც აძლევს ადამიანს,
        აფიქრებს ისტორიასა და მწერლის შემოქმედებაზე.
    </p>

    <h3 class="mt-4 mb-2">ჩვენ გთავაზობთ:</h3>
    <ul>
        <li>ილიას, აკაკის, ვაჟას, შოთას და გალაკტიონის სკულპტურებს</li>
        <li>მიტანის სერვისს ნებისმიერ ადგილას</li>
        <li>პატრიოტულ, ქართული კულტურის სიყვარულით შექმნილ ნივთებს</li>
    </ul>

    <p class="mt-3">
        ჩვენი სკულპტურები შესანიშნავია საჩუქრად,
        ასევე განათლებისა და კულტურული აღზრდის თვალსაზრისით.
    </p>
    </div>

    <div class="container my-4">
    <h3>ჩვენი ლოკაცია:</h3>
    <iframe
        src="https://www.google.com/maps/place/Gldani+Mall/@41.7920527,44.813168,17z/data=!3m1!4b1!4m6!3m5!1s0x40446c4913987dad:0x52dc5e4e087526b2!8m2!3d41.7920487!4d44.8157376!16s%2Fg%2F11b75pj1v8?entry=ttu&g_ep=EgoyMDI2MDEyOC4wIKXMDSoKLDEwMDc5MjA3MUgBUAM%3D"
        width="100%"
        height="450"
        style="border:0; border-radius:8px;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>




</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}